BeautifulSoup==3.2.1
-e git://github.com/j4mie/nosegrowl.git@adb42fa339091cf182c7492a0749ee5ecc59ad8a#egg=NoseGrowl-master
NoseGrowlNotify==0.1
beautifulsoup4==4.3.2
feedparser==5.1.3
gntp==1.0.2
hcluster==0.2.0
matplotlib==1.4.2
mock==1.0.1
nltk==3.0.0
nose==1.3.4
numpy==1.22.0
py-Growl==0.0.7
pyparsing==2.0.3
python-dateutil==2.2
pytz==2014.7
six==1.8.0
tdaemon==0.1.1
wsgiref==0.1.2
